input {
  margin-left: 0px;
}
ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  margin: 0px;
}
li {
  padding-left: 0px;
  margin-top: 5px;
}
button {
  background-color: white;
  border-radius: 10px;
  outline: none;
  margin-top: 0px;
  font-size: 10px;
  border: solid 1px;
}

#id-title {
  margin-top: 4px;
}

.id {
  margin-top: 8px;
}
.comment {
  margin-top: 8px;
}

.delete {
  margin-left: 5px;
}
